# OS junk
.DS_Store

# Expo/React Native
**/node_modules/
.expo/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Python venv
.venv/

# Logs
**/npm-debug.log*
**/yarn-error.log*
**/.expo/*